*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:#636363;
    font-family:poppins, sans-serif;
    font-weight:400;
}
.game_container{
    width:60rem;
    height:90vh;
    background-color:white;
    margin:2rem auto;
    border-radius: .1rem;


}







// Temporary fix
.random,
.skip,
.settings,
.submit-0,
.submit-1{
    width:12rem;
    height:1rem
}